.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  row-gap: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.freeBox__qflMf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.header:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__jk9G0 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  background: var(--token-cSYSAqzZLUqk);
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__jk9G0 {
    width: 100%;
    min-width: 0;
  }
}
.freeBox___5MPir {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  min-width: 0;
  padding: 107px 32px 33px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___5MPir {
    padding-top: 87px;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
  }
}
.freeBox__u7NAq {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1280px;
  width: 100%;
  column-gap: 64px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__u7NAq {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    align-content: stretch;
    row-gap: 32px;
    column-gap: 0px;
  }
}
.freeBox__frig7 {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  row-gap: 32px;
  min-width: 0;
}
.freeBox__owzI3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
}
.h1__ljCzT {
  margin-bottom: 7px;
  line-height: var(--token-FSm4Yfl4uTXu);
}
.text___1J0AO {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--token-DwMrPjhe9c9H);
  max-width: 534px;
  width: 100%;
  font-weight: 700;
  font-size: var(--token-rc8Gzv5Jgomi);
  padding-top: 0px;
  min-width: 0;
}
.button__wPpSi:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__wRfCu {
  position: relative;
  height: 1em;
}
.text__idH4C {
  white-space: pre;
  padding-bottom: 0px;
  font-weight: 900;
}
.svg__nzOjI {
  position: relative;
  height: 1em;
}
.freeBox___3JFAj {
  display: flex;
  position: relative;
  height: 400px;
}
.img__iCeiZ {
  object-fit: contain;
  max-width: 100%;
  width: 553px;
  flex-shrink: 0;
}
.img__iCeiZ > picture > img {
  object-fit: contain;
}
.features {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-DwMrPjhe9c9H);
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
  margin: 0px;
}
.features > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .features {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .features > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__v4OBn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4.17em 15px 3.33em;
}
.h1__bLdjR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1155px;
  text-align: center;
  color: var(--token-tp4FffdiN2KU);
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h1__bLdjR {
    font-size: 32px;
  }
}
.text__oZdJp {
  position: relative;
  width: 1139px;
  height: auto;
  max-width: 100%;
  font-size: var(--token-rc8Gzv5Jgomi);
  margin-bottom: 0px;
}
.img__bsPOr {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
}
.img__bsPOr > picture > img {
  object-fit: cover;
}
.text__tTYap {
  position: relative;
  width: 1139px;
  height: auto;
  max-width: 100%;
  font-size: var(--token-rc8Gzv5Jgomi);
}
.img__eqFnk {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
}
.img__eqFnk > picture > img {
  object-fit: cover;
}
.text__qYTq3 {
  position: relative;
  width: 1139px;
  height: auto;
  max-width: 100%;
  font-size: var(--token-rc8Gzv5Jgomi);
}
.img__sXcAg {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
}
.img__sXcAg > picture > img {
  object-fit: cover;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__fi4Un {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-tp4FffdiN2KU);
  min-width: 0;
  padding: 8px 20px;
}
.h1__ohL3S {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 40px;
  margin-bottom: 23px;
  min-width: 0;
}
.text__vG8Nc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  color: var(--token-6B_0UjAby-KN);
  font-weight: 700;
  min-width: 0;
}
.button__ioRFp:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__wBk7U {
  position: relative;
  height: 1em;
}
.text__zpASz {
  white-space: pre;
  color: var(--token-6B_0UjAby-KN);
  font-weight: 700;
}
.svg__pQoPq {
  position: relative;
  height: 1em;
}
.column__hfwBg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-cSYSAqzZLUqk);
  min-width: 0;
  padding: 8px 20px;
}
.h1__eMQdk {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 40px;
  padding-bottom: 25px;
  min-width: 0;
}
.text__q1Gyl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  color: var(--token-6B_0UjAby-KN);
  font-weight: 700;
  min-width: 0;
}
.button__zqgHi:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg___3XoRw {
  position: relative;
  height: 1em;
}
.text__a5U3M {
  white-space: pre;
  color: var(--token-6B_0UjAby-KN);
  font-weight: 700;
}
.svg___3TOeJ {
  position: relative;
  height: 1em;
}
.column__hl80H {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-mMb5svvdT51q);
  min-width: 0;
  padding: 8px 20px;
}
.h1__uJiC5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 40px;
  margin-bottom: 25px;
  min-width: 0;
}
.text__ftAso {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  color: var(--token-6B_0UjAby-KN);
  font-weight: 700;
  min-width: 0;
}
.button__zdf6P:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__kzp7B {
  position: relative;
  height: 1em;
}
.text__mb0Fo {
  white-space: pre;
  color: var(--token-6B_0UjAby-KN);
  font-weight: 700;
}
.svg__ps63 {
  position: relative;
  height: 1em;
}
.blogPosts:global(.__wab_instance) {
  position: relative;
  display: none;
  margin: 0px;
}
.ctaBlock:global(.__wab_instance) {
  position: relative;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  display: none;
}
.heroSection:global(.__wab_instance) {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  display: none;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
