.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  row-gap: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.mainSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f7f9fb;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .mainSection {
    padding: 3em 15px 1.5em;
  }
}
.pageBanner {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-tp4FffdiN2KU);
  min-width: 0;
  padding: 0px;
}
.freeBox__qCaux {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  background: none;
  max-width: 1380px;
  min-width: 0;
  padding: 64px 32px 58px 7px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__qCaux {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    background: none;
    max-width: 1380px;
    min-width: 0;
    padding: 58px 32px 41px;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0px;
  row-gap: 12px;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    column-gap: 0px;
    row-gap: 12px;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__n6Fdk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.h1__ac7TB {
  width: 657px;
  height: auto;
  max-width: 100%;
  line-height: var(--token-n-xApyDHa_t0);
  margin-right: 0px;
  padding-right: 32px;
}
.h1__yijXc {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 40px;
  line-height: var(--token-n-xApyDHa_t0);
  padding-top: 31px;
  min-width: 0;
}
.column___5Q3U1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__c50Ey {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__c50Ey > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__c50Ey {
    position: relative;
    object-fit: cover;
    max-width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .img__c50Ey > picture > img {
    object-fit: cover;
  }
}
.mainSection2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f7f9fb;
  min-width: 0;
  padding: 4.17em 15px 3.33em;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .mainSection2 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    background: #f7f9fb;
    column-gap: 0px;
    min-width: 0;
    padding: 3em 15px 1.5em;
    margin: 0px;
  }
}
.container3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: #ffffff;
  padding: 30px;
}
.freeBox__vbXcq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h1___6PlN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  line-height: var(--token-n-xApyDHa_t0);
  color: var(--token-tp4FffdiN2KU);
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h1___6PlN {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text___3Vn8Z {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___3Vn8Z {
    position: relative;
    width: 100%;
    height: auto;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__iIcLl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__ewmFy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__ewmFy {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__gWf4E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__gWf4E {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__ch626 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__fpFg8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__fpFg8 {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text___6UlYp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-bottom: 0px;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___6UlYp {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__afCvu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h2___8Nc3M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  color: var(--token-tp4FffdiN2KU);
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2___8Nc3M {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text___3IzxQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___3IzxQ {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox___2L27S {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.img__kjVx4 {
  object-fit: cover;
  max-width: 100%;
}
.img__kjVx4 > picture > img {
  object-fit: cover;
}
.freeBox__zyf1X {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.text__eRkTa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__eRkTa {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox___4H5St {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__ouSIj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__ouSIj {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__t0D5T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__t0D5T {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox___47J5M {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__yk32W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  padding-bottom: 0px;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__yk32W {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text___1LTb2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___1LTb2 {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.img__xpWli {
  object-fit: cover;
  max-width: 100%;
}
.img__xpWli > picture > img {
  object-fit: cover;
}
.freeBox__vVaF {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__iIsOw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__iIsOw {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__u5QYf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__u5QYf {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__f5UYy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__dMobY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__dMobY {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__wLfIo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-left: 0px;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__wLfIo {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.img__qqM1M {
  object-fit: cover;
  max-width: 100%;
}
.img__qqM1M > picture > img {
  object-fit: cover;
}
.freeBox__yx4Ix {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.text__buPdL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__buPdL {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__uYpu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h2___5XCwy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  color: var(--token-9jmAQBmYOFn9);
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2___5XCwy {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__uMff {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__uMff {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__vnnlJ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__n4UGm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__n4UGm {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__ksnGn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__ksnGn {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.img__xkAae {
  object-fit: cover;
  max-width: 100%;
}
.img__xkAae > picture > img {
  object-fit: cover;
}
.freeBox__jGs2U {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__feM9D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__feM9D {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__wjckQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__wjckQ {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox___3MaIj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__wF1Xr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__wF1Xr {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__eb6Ix {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__eb6Ix {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__atlXt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__th697 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__th697 {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text___02Al8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-bottom: 0px;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___02Al8 {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.img___2OhVz {
  object-fit: cover;
  max-width: 100%;
}
.img___2OhVz > picture > img {
  object-fit: cover;
}
.freeBox__laYNo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3___3T74T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3___3T74T {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__jMHf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__jMHf {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__z4PFf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__e8WEd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__e8WEd {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text___7Qp4X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text___7Qp4X {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.img__je8D {
  object-fit: cover;
  max-width: 100%;
}
.img__je8D > picture > img {
  object-fit: cover;
}
.freeBox__fIcOi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__lepMl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__lepMl {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__oL5U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__oL5U {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__n5P6H {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h2__wrR3Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  color: var(--token-9jmAQBmYOFn9);
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2__wrR3Q {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__v3Al0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__v3Al0 {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox___42A2A {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3__s8CuU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3__s8CuU {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__lyz4Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__lyz4Q {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox___1Eixj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h2__hvjg5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  color: var(--token-9jmAQBmYOFn9);
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2__hvjg5 {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__pXnkf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__pXnkf {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.freeBox__dXwdn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.h3___0PcSz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h3___0PcSz {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
    margin: 0px 0px 30px;
  }
}
.text__pdpzv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
  margin: 0px 0px 1em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__pdpzv {
    position: relative;
    width: 100%;
    height: auto;
    max-width: none;
    color: var(--token-q_GknGt9sYTh);
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    min-width: 0;
    margin: 0px 0px 1em;
  }
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
