.root:global(.__wab_instance) {
  width: 300px;
  box-sizing: border-box;
  object-fit: cover;
  background: var(--token-6B_0UjAby-KN);
  position: relative;
  overflow: auto;
  box-shadow:
    0px 0px 12px 0px #00000040,
    0px 0px 0px 0.5px var(--token--Ku6tLacQO7m);
  border-radius: var(--token-5qkMFX8_8lWv);
  padding: var(--token-viSvChhAClGL);
}
.ariaListBox:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  outline-style: none;
  min-width: 0;
}
.menuSection__n1CUp:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
