.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-5hZuJKY9rBJj);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox___3VaNd {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-5hZuJKY9rBJj);
}
.radio__pLAyK:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio___5WnJ:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__xzeMe:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
