.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-6B_0UjAby-KN);
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  height: var(--token-8_1GU1jb0T7j);
  width: var(--token-8_1GU1jb0T7j);
  border-radius: 99px;
  border: 1px solid var(--token-wbboGvn_CMre);
}
.root[data-hovered]:global(.__wab_instance) {
  border-width: 2px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-wbboGvn_CMre);
  outline-offset: 1px;
}
