.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  position: relative;
  box-shadow: 0px 10px 16px 0px #00000033;
  min-width: 0;
  padding: 0px;
}
.freeBox__ivg2P {
  background: #ffffff61;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  column-gap: 16px;
  padding: 16px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__ivg2P {
    padding: 32px;
  }
}
.freeBox__fvBs9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  column-gap: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__fvBs9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    column-gap: 0px;
  }
}
.link___4EjGu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__s4IP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #111;
  width: 169px;
  height: 36px;
  flex-shrink: 0;
}
.freeBox__preRd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__preRd {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 8px;
  }
}
.link__i4HJv {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.svg__skIeC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___7Lxht {
  font-size: 18px;
  font-weight: 700;
  color: var(--token-dNmZZqmVhIr2);
  line-height: 26px;
  font-family: "Montserrat", sans-serif;
}
.svg__ze304 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__it1Oi {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.svg__rFT4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__nDe7R {
  font-weight: 800;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
}
.svg__wNeYu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__v2Fwy {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.svg__prvUa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__y5Qg6 {
  font-weight: 800;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
}
.svg__nGwvg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__pe0NE {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  column-gap: 8px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.svg___0AxsJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__rkGvZ {
  font-weight: 700;
  color: #05050599;
  font-size: 18px;
  line-height: 26px;
}
.svg__rNgJh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
