@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Poppins%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800%3B1%2C900&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700%3B1%2C800%3B1%2C900&display=swap");

.plasmic_tokens {
  --token-nt0y73fjWwm5: 0.83rem;
  --plasmic-token-unnamed-style-token: var(--token-nt0y73fjWwm5);
  --token-DwMrPjhe9c9H: #ffffff;
  --plasmic-token-white: var(--token-DwMrPjhe9c9H);
  --token-q_GknGt9sYTh: #000000;
  --plasmic-token-black: var(--token-q_GknGt9sYTh);
  --token-dNmZZqmVhIr2: #535353;
  --plasmic-token-primary-color: var(--token-dNmZZqmVhIr2);
  --token-b2XPSujR2gjh: 48px;
  --plasmic-token-lead-title: var(--token-b2XPSujR2gjh);
  --token-RprOQ2AXRDOU: 16px;
  --plasmic-token-primary-text: var(--token-RprOQ2AXRDOU);
  --token-XBKn12CzQ0wR: Inter;
  --plasmic-token-primary-font: var(--token-XBKn12CzQ0wR);
  --token-k0R7fqA4JMVn: 24px;
  --plasmic-token-small-title: var(--token-k0R7fqA4JMVn);
  --token-8VepDAsFWaM_: 30px;
  --plasmic-token-lead-title-sm: var(--token-8VepDAsFWaM_);
  --token-xLbdAqwYkqMP: 20px;
  --plasmic-token-small-title-sm: var(--token-xLbdAqwYkqMP);
  --token-S7TOXPv7-QNR: #0091ff;
  --plasmic-token-clr: var(--token-S7TOXPv7-QNR);
  --token-s2GGaQW_7cPO: var(--token-S7TOXPv7-QNR);
  --plasmic-token-unnamed-style-token-2: var(--token-s2GGaQW_7cPO);
  --token-UP0LHcR8-P8M: var(--token-hyD641FLLYwG);
  --plasmic-token-unnamed-style-token-3: var(--token-UP0LHcR8-P8M);
  --token-hyD641FLLYwG: var(--token-it0yGiTmQhoN);
  --plasmic-token-unnamed-style-token-4: var(--token-hyD641FLLYwG);
  --token-it0yGiTmQhoN: #3429291a;
  --plasmic-token-unnamed-style-token-5: var(--token-it0yGiTmQhoN);
  --token-pBkI4w7y3T-G: #f8f8f8;
  --plasmic-token-unnamed-style-token-6: var(--token-pBkI4w7y3T-G);
  --token-xvbOmnrsxPT9: 16px;
  --plasmic-token-unnamed-style-token-7: var(--token-xvbOmnrsxPT9);
  --token-XSIMN-R8OIWC: var(--token-pBkI4w7y3T-G);
  --plasmic-token-unnamed-style-token-8: var(--token-XSIMN-R8OIWC);
  --token-59SVeZx_br6x: #f4efeb;
  --plasmic-token-unnamed-style-token-9: var(--token-59SVeZx_br6x);
  --token-wbboGvn_CMre: #2563eb;
  --plasmic-token-brand-brand: var(--token-wbboGvn_CMre);
  --token-IY7iuGXK-BNp: 0.5rem;
  --plasmic-token-size-8: var(--token-IY7iuGXK-BNp);
  --token-9geHJNHsD7wo: Inter;
  --plasmic-token-sans-serif: var(--token-9geHJNHsD7wo);
  --token-fM5uz1jnVrvF: 1rem;
  --plasmic-token-font-md: var(--token-fM5uz1jnVrvF);
  --token-n-xApyDHa_t0: 1.25;
  --plasmic-token-line-height-md: var(--token-n-xApyDHa_t0);
  --token-viSvChhAClGL: 0.375rem;
  --plasmic-token-size-6: var(--token-viSvChhAClGL);
  --token-MqMhfep0w_m4: #374151;
  --plasmic-token-neutral-neutral: var(--token-MqMhfep0w_m4);
  --token-Cq-dqmCKvqXI: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-Cq-dqmCKvqXI);
  --token-YqVzDDtwvubI: #6b7280;
  --plasmic-token-muted-muted: var(--token-YqVzDDtwvubI);
  --token-5hZuJKY9rBJj: 0.25rem;
  --plasmic-token-size-4: var(--token-5hZuJKY9rBJj);
  --token-yMUdnW8Bx6Wg: 0.75rem;
  --plasmic-token-font-sm: var(--token-yMUdnW8Bx6Wg);
  --token-J698hjr7W1XS: 1;
  --plasmic-token-line-height-sm: var(--token-J698hjr7W1XS);
  --token-RMKt-W3cM_25: 1.25rem;
  --plasmic-token-font-lg: var(--token-RMKt-W3cM_25);
  --token-FSm4Yfl4uTXu: 1.4;
  --plasmic-token-line-height-lg: var(--token-FSm4Yfl4uTXu);
  --token-TGwdHsihEmJ3: 0.125rem;
  --plasmic-token-size-2: var(--token-TGwdHsihEmJ3);
  --token-hd4HxSzS7WdC: #16a34a;
  --plasmic-token-success-success: var(--token-hd4HxSzS7WdC);
  --token-GDZ0n-7jMkfK: #facc15;
  --plasmic-token-warning-warning: var(--token-GDZ0n-7jMkfK);
  --token-fvq3N-eSLYwc: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-fvq3N-eSLYwc);
  --token-I_pemRHHvaqu: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-I_pemRHHvaqu);
  --token--WWseUCI-w2R: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token--WWseUCI-w2R);
  --token-Fm4uhR1w6Pe0: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-Fm4uhR1w6Pe0);
  --token-TUau7gQZjaaf: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-TUau7gQZjaaf);
  --token-TS0DSgkcNTyf: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-TS0DSgkcNTyf);
  --token-eE2sV8_XzD_3: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-eE2sV8_XzD_3);
  --token-Cbqkm6zMYS3N: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-Cbqkm6zMYS3N);
  --token--Ku6tLacQO7m: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token--Ku6tLacQO7m);
  --token-Hh1BPk_Fuj8K: #86efac;
  --plasmic-token-success-success-border: var(--token-Hh1BPk_Fuj8K);
  --token-o2yywrFG5b29: #fde047;
  --plasmic-token-warning-warning-border: var(--token-o2yywrFG5b29);
  --token-nzYoHLiffi0m: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-nzYoHLiffi0m);
  --token-gm9KnW_zWX0r: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-gm9KnW_zWX0r);
  --token-v5cEL4vJ1TIc: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-v5cEL4vJ1TIc);
  --token-vgDqM-K3KNUt: #00000033;
  --plasmic-token-interaction-pressed: var(--token-vgDqM-K3KNUt);
  --token-5qkMFX8_8lWv: 0.625rem;
  --plasmic-token-size-10: var(--token-5qkMFX8_8lWv);
  --token-zaHVGxoPoXaJ: 0.75rem;
  --plasmic-token-size-12: var(--token-zaHVGxoPoXaJ);
  --token-WlIJMzs6UG_x: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-WlIJMzs6UG_x);
  --token-5Fs_JO9RacS9: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-5Fs_JO9RacS9);
  --token-K9TJWM39PXMI: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-K9TJWM39PXMI);
  --token--s4RmiCZHuDf: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token--s4RmiCZHuDf);
  --token-sPDuoZyVT8Dq: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-sPDuoZyVT8Dq);
  --token-8iiYwIkZjLhp: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-8iiYwIkZjLhp);
  --token-74X8edRu8M7F: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-74X8edRu8M7F);
  --token-kr-a9O0MVXLA: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-kr-a9O0MVXLA);
  --token-6q5bYhEg_waH: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-6q5bYhEg_waH);
  --token-kiardlJA1gi7: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-kiardlJA1gi7);
  --token-5pjvAcqDRDqP: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-5pjvAcqDRDqP);
  --token-9jmAQBmYOFn9: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-9jmAQBmYOFn9
  );
  --token-hzj9rfVv_Suh: #030712;
  --plasmic-token-basic-text-primary: var(--token-hzj9rfVv_Suh);
  --token-8_1GU1jb0T7j: 1.25rem;
  --plasmic-token-size-20: var(--token-8_1GU1jb0T7j);
  --token-sym6lhyZOvNO: #9ca3af;
  --plasmic-token-basic-ring: var(--token-sym6lhyZOvNO);
  --token-xVX_getA9aa2: 2rem;
  --plasmic-token-size-32: var(--token-xVX_getA9aa2);
  --token-wU7kfxulYM_l: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-wU7kfxulYM_l);
  --token-jlGk0c1Reylh: #d1d5db;
  --plasmic-token-basic-border: var(--token-jlGk0c1Reylh);
  --token-NEU5DzBb5Svx: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-NEU5DzBb5Svx);
  --token-RjbMi9uYERpz: 1rem;
  --plasmic-token-size-16: var(--token-RjbMi9uYERpz);
  --token-6B_0UjAby-KN: #ffffff;
  --plasmic-token-basic-container-background: var(--token-6B_0UjAby-KN);
  --token-3ClnuoGYQ7TJ: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-3ClnuoGYQ7TJ);
  --token-Vyr11fPnXZcU: 1.5rem;
  --plasmic-token-size-24: var(--token-Vyr11fPnXZcU);
  --token-s9xK5smA-M4p: #e5e7eb;
  --plasmic-token-basic-input-background: var(--token-s9xK5smA-M4p);
  --token-gp7Yr4IQkkG2: #171717;
  --plasmic-token-basic-container-background-dark: var(--token-gp7Yr4IQkkG2);
  --token-cSYSAqzZLUqk: #f49425;
  --plasmic-token-tsf-mid: var(--token-cSYSAqzZLUqk);
  --token-tp4FffdiN2KU: #820a02;
  --plasmic-token-tsf-orange: var(--token-tp4FffdiN2KU);
  --token-mMb5svvdT51q: #fcb02c;
  --plasmic-token-tsf-gold: var(--token-mMb5svvdT51q);
  --token-rc8Gzv5Jgomi: 18px;
  --plasmic-token-18-px-type: var(--token-rc8Gzv5Jgomi);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-5YKzXncq1efR_font-family: "Inter", sans-serif;
  --mixin-5YKzXncq1efR_font-size: 16px;
  --mixin-5YKzXncq1efR_font-weight: 400;
  --mixin-5YKzXncq1efR_font-style: normal;
  --mixin-5YKzXncq1efR_color: #535353;
  --mixin-5YKzXncq1efR_text-align: left;
  --mixin-5YKzXncq1efR_text-transform: none;
  --mixin-5YKzXncq1efR_line-height: 1.5;
  --mixin-5YKzXncq1efR_letter-spacing: normal;
  --mixin-5YKzXncq1efR_white-space: pre-wrap;
  --mixin-5YKzXncq1efR_user-select: text;
  --mixin-5YKzXncq1efR_text-decoration-line: none;
  --mixin-5YKzXncq1efR_text-overflow: clip;
  --mixin-pd_GzLj9W6x6_color: var(--token-DwMrPjhe9c9H);
  --mixin-pd_GzLj9W6x6_font-weight: 700;
  --mixin-pd_GzLj9W6x6_font-size: 50px;
  --mixin-pd_GzLj9W6x6_line-height: 1;
  --mixin-pd_GzLj9W6x6_letter-spacing: -1px;
  --mixin-pd_GzLj9W6x6_font-family: "Inter", sans-serif;
  --mixin-pd_GzLj9W6x6_white-space: pre-wrap;
  --mixin-e_qmcv05Isad_color: #000000;
  --mixin-e_qmcv05Isad_font-weight: 700;
  --mixin-e_qmcv05Isad_font-size: 36px;
  --mixin-e_qmcv05Isad_line-height: 1.1;
  --mixin-e_qmcv05Isad_letter-spacing: -1px;
  --mixin-e_qmcv05Isad_font-family: "Inter", sans-serif;
  --mixin-e_qmcv05Isad_white-space: pre-wrap;
  --mixin-wmLtM33t57Uk_color: #3291ff;
  --mixin-wmLtM33t57Uk_white-space: pre-wrap;
  --mixin-3-x7r_AvaXFR_color: #000000;
  --mixin-3-x7r_AvaXFR_font-weight: 600;
  --mixin-3-x7r_AvaXFR_font-size: 28px;
  --mixin-3-x7r_AvaXFR_line-height: 1.2;
  --mixin-3-x7r_AvaXFR_letter-spacing: -0.8px;
  --mixin-3-x7r_AvaXFR_font-family: "Inter", sans-serif;
  --mixin-3-x7r_AvaXFR_white-space: pre-wrap;
  --mixin-63PR8s_ztPZl_color: #000000;
  --mixin-63PR8s_ztPZl_font-weight: 600;
  --mixin-63PR8s_ztPZl_font-size: 24px;
  --mixin-63PR8s_ztPZl_line-height: 1.3;
  --mixin-63PR8s_ztPZl_letter-spacing: -0.5px;
  --mixin-63PR8s_ztPZl_white-space: pre-wrap;
  --mixin-2Uol73j5VRCQ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-2Uol73j5VRCQ_border-bottom-color: #dddddd;
  --mixin-2Uol73j5VRCQ_border-bottom-style: solid;
  --mixin-2Uol73j5VRCQ_border-bottom-width: 1px;
  --mixin-2Uol73j5VRCQ_border-left-color: #dddddd;
  --mixin-2Uol73j5VRCQ_border-left-style: solid;
  --mixin-2Uol73j5VRCQ_border-left-width: 1px;
  --mixin-2Uol73j5VRCQ_border-right-color: #dddddd;
  --mixin-2Uol73j5VRCQ_border-right-style: solid;
  --mixin-2Uol73j5VRCQ_border-right-width: 1px;
  --mixin-2Uol73j5VRCQ_border-top-color: #dddddd;
  --mixin-2Uol73j5VRCQ_border-top-style: solid;
  --mixin-2Uol73j5VRCQ_border-top-width: 1px;
  --mixin-2Uol73j5VRCQ_border-bottom-left-radius: 3px;
  --mixin-2Uol73j5VRCQ_border-bottom-right-radius: 3px;
  --mixin-2Uol73j5VRCQ_border-top-left-radius: 3px;
  --mixin-2Uol73j5VRCQ_border-top-right-radius: 3px;
  --mixin-2Uol73j5VRCQ_font-family: "Inconsolata";
  --mixin-2Uol73j5VRCQ_padding-bottom: 1px;
  --mixin-2Uol73j5VRCQ_padding-left: 4px;
  --mixin-2Uol73j5VRCQ_padding-right: 4px;
  --mixin-2Uol73j5VRCQ_padding-top: 1px;
  --mixin-2Uol73j5VRCQ_white-space: pre-wrap;
  --mixin-tRT-teb4ejem_border-left-color: #dddddd;
  --mixin-tRT-teb4ejem_border-left-style: solid;
  --mixin-tRT-teb4ejem_border-left-width: 3px;
  --mixin-tRT-teb4ejem_color: #888888;
  --mixin-tRT-teb4ejem_padding-left: 10px;
  --mixin-tRT-teb4ejem_white-space: pre-wrap;
  --mixin-bg1GVxlvpXDN_font-family: "Inter", sans-serif;
  --mixin-bg1GVxlvpXDN_color: #000000;
  --mixin-bg1GVxlvpXDN_font-size: 16px;
  --mixin-bg1GVxlvpXDN_font-weight: 600;
  --mixin-bg1GVxlvpXDN_line-height: 1.5;
  --mixin-bg1GVxlvpXDN_white-space: pre-wrap;
  --mixin-nLlEQEdlexU9_font-family: "Inter", sans-serif;
  --mixin-nLlEQEdlexU9_font-size: 20px;
  --mixin-nLlEQEdlexU9_font-weight: 500;
  --mixin-nLlEQEdlexU9_color: var(--token-q_GknGt9sYTh);
  --mixin-nLlEQEdlexU9_white-space: pre-wrap;
  --mixin-OoLyhxIShITV_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-OoLyhxIShITV_border-bottom-color: #dddddd;
  --mixin-OoLyhxIShITV_border-bottom-style: solid;
  --mixin-OoLyhxIShITV_border-bottom-width: 1px;
  --mixin-OoLyhxIShITV_border-left-color: #dddddd;
  --mixin-OoLyhxIShITV_border-left-style: solid;
  --mixin-OoLyhxIShITV_border-left-width: 1px;
  --mixin-OoLyhxIShITV_border-right-color: #dddddd;
  --mixin-OoLyhxIShITV_border-right-style: solid;
  --mixin-OoLyhxIShITV_border-right-width: 1px;
  --mixin-OoLyhxIShITV_border-top-color: #dddddd;
  --mixin-OoLyhxIShITV_border-top-style: solid;
  --mixin-OoLyhxIShITV_border-top-width: 1px;
  --mixin-OoLyhxIShITV_border-bottom-left-radius: 3px;
  --mixin-OoLyhxIShITV_border-bottom-right-radius: 3px;
  --mixin-OoLyhxIShITV_border-top-left-radius: 3px;
  --mixin-OoLyhxIShITV_border-top-right-radius: 3px;
  --mixin-OoLyhxIShITV_font-family: "Inconsolata";
  --mixin-OoLyhxIShITV_padding-bottom: 3px;
  --mixin-OoLyhxIShITV_padding-left: 6px;
  --mixin-OoLyhxIShITV_padding-right: 6px;
  --mixin-OoLyhxIShITV_padding-top: 3px;
  --mixin-OoLyhxIShITV_white-space: pre-wrap;
  --mixin-IvXrwldfNzsG_display: flex;
  --mixin-IvXrwldfNzsG_flex-direction: column;
  --mixin-IvXrwldfNzsG_align-items: stretch;
  --mixin-IvXrwldfNzsG_justify-content: flex-start;
  --mixin-IvXrwldfNzsG_list-style-position: outside;
  --mixin-IvXrwldfNzsG_padding-left: 40px;
  --mixin-IvXrwldfNzsG_position: relative;
  --mixin-IvXrwldfNzsG_list-style-type: decimal;
  --mixin-IvXrwldfNzsG_white-space: pre-wrap;
  --mixin-LxSJDtcEhAZS_display: flex;
  --mixin-LxSJDtcEhAZS_flex-direction: column;
  --mixin-LxSJDtcEhAZS_align-items: stretch;
  --mixin-LxSJDtcEhAZS_justify-content: flex-start;
  --mixin-LxSJDtcEhAZS_list-style-position: outside;
  --mixin-LxSJDtcEhAZS_padding-left: 40px;
  --mixin-LxSJDtcEhAZS_position: relative;
  --mixin-LxSJDtcEhAZS_list-style-type: disc;
  --mixin-LxSJDtcEhAZS_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-UW3kkjbgqczb_white-space: pre-wrap;
  --plasmic-mixin-menu-text_white-space: var(--mixin-UW3kkjbgqczb_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-5YKzXncq1efR_font-family);
  font-size: var(--mixin-5YKzXncq1efR_font-size);
  font-weight: var(--mixin-5YKzXncq1efR_font-weight);
  font-style: var(--mixin-5YKzXncq1efR_font-style);
  color: var(--mixin-5YKzXncq1efR_color);
  text-align: var(--mixin-5YKzXncq1efR_text-align);
  text-transform: var(--mixin-5YKzXncq1efR_text-transform);
  line-height: var(--mixin-5YKzXncq1efR_line-height);
  letter-spacing: var(--mixin-5YKzXncq1efR_letter-spacing);
  white-space: var(--mixin-5YKzXncq1efR_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-pd_GzLj9W6x6_color);
  font-weight: var(--mixin-pd_GzLj9W6x6_font-weight);
  font-size: var(--mixin-pd_GzLj9W6x6_font-size);
  line-height: var(--mixin-pd_GzLj9W6x6_line-height);
  letter-spacing: var(--mixin-pd_GzLj9W6x6_letter-spacing);
  font-family: var(--mixin-pd_GzLj9W6x6_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-e_qmcv05Isad_color);
  font-weight: var(--mixin-e_qmcv05Isad_font-weight);
  font-size: var(--mixin-e_qmcv05Isad_font-size);
  line-height: var(--mixin-e_qmcv05Isad_line-height);
  letter-spacing: var(--mixin-e_qmcv05Isad_letter-spacing);
  font-family: var(--mixin-e_qmcv05Isad_font-family);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-wmLtM33t57Uk_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-3-x7r_AvaXFR_color);
  font-weight: var(--mixin-3-x7r_AvaXFR_font-weight);
  font-size: var(--mixin-3-x7r_AvaXFR_font-size);
  line-height: var(--mixin-3-x7r_AvaXFR_line-height);
  letter-spacing: var(--mixin-3-x7r_AvaXFR_letter-spacing);
  font-family: var(--mixin-3-x7r_AvaXFR_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-63PR8s_ztPZl_color);
  font-weight: var(--mixin-63PR8s_ztPZl_font-weight);
  font-size: var(--mixin-63PR8s_ztPZl_font-size);
  line-height: var(--mixin-63PR8s_ztPZl_line-height);
  letter-spacing: var(--mixin-63PR8s_ztPZl_letter-spacing);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-2Uol73j5VRCQ_font-family);
  border-radius: var(--mixin-2Uol73j5VRCQ_border-top-left-radius)
    var(--mixin-2Uol73j5VRCQ_border-top-right-radius)
    var(--mixin-2Uol73j5VRCQ_border-bottom-right-radius)
    var(--mixin-2Uol73j5VRCQ_border-bottom-left-radius);
  padding: var(--mixin-2Uol73j5VRCQ_padding-top)
    var(--mixin-2Uol73j5VRCQ_padding-right)
    var(--mixin-2Uol73j5VRCQ_padding-bottom)
    var(--mixin-2Uol73j5VRCQ_padding-left);
  border-top: var(--mixin-2Uol73j5VRCQ_border-top-width)
    var(--mixin-2Uol73j5VRCQ_border-top-style)
    var(--mixin-2Uol73j5VRCQ_border-top-color);
  border-right: var(--mixin-2Uol73j5VRCQ_border-right-width)
    var(--mixin-2Uol73j5VRCQ_border-right-style)
    var(--mixin-2Uol73j5VRCQ_border-right-color);
  border-bottom: var(--mixin-2Uol73j5VRCQ_border-bottom-width)
    var(--mixin-2Uol73j5VRCQ_border-bottom-style)
    var(--mixin-2Uol73j5VRCQ_border-bottom-color);
  border-left: var(--mixin-2Uol73j5VRCQ_border-left-width)
    var(--mixin-2Uol73j5VRCQ_border-left-style)
    var(--mixin-2Uol73j5VRCQ_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-tRT-teb4ejem_color);
  padding-left: var(--mixin-tRT-teb4ejem_padding-left);
  border-left: var(--mixin-tRT-teb4ejem_border-left-width)
    var(--mixin-tRT-teb4ejem_border-left-style)
    var(--mixin-tRT-teb4ejem_border-left-color);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-bg1GVxlvpXDN_font-family);
  color: var(--mixin-bg1GVxlvpXDN_color);
  font-size: var(--mixin-bg1GVxlvpXDN_font-size);
  font-weight: var(--mixin-bg1GVxlvpXDN_font-weight);
  line-height: var(--mixin-bg1GVxlvpXDN_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-nLlEQEdlexU9_font-family);
  font-size: var(--mixin-nLlEQEdlexU9_font-size);
  font-weight: var(--mixin-nLlEQEdlexU9_font-weight);
  color: var(--mixin-nLlEQEdlexU9_color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-OoLyhxIShITV_font-family);
  border-radius: var(--mixin-OoLyhxIShITV_border-top-left-radius)
    var(--mixin-OoLyhxIShITV_border-top-right-radius)
    var(--mixin-OoLyhxIShITV_border-bottom-right-radius)
    var(--mixin-OoLyhxIShITV_border-bottom-left-radius);
  padding: var(--mixin-OoLyhxIShITV_padding-top)
    var(--mixin-OoLyhxIShITV_padding-right)
    var(--mixin-OoLyhxIShITV_padding-bottom)
    var(--mixin-OoLyhxIShITV_padding-left);
  border-top: var(--mixin-OoLyhxIShITV_border-top-width)
    var(--mixin-OoLyhxIShITV_border-top-style)
    var(--mixin-OoLyhxIShITV_border-top-color);
  border-right: var(--mixin-OoLyhxIShITV_border-right-width)
    var(--mixin-OoLyhxIShITV_border-right-style)
    var(--mixin-OoLyhxIShITV_border-right-color);
  border-bottom: var(--mixin-OoLyhxIShITV_border-bottom-width)
    var(--mixin-OoLyhxIShITV_border-bottom-style)
    var(--mixin-OoLyhxIShITV_border-bottom-color);
  border-left: var(--mixin-OoLyhxIShITV_border-left-width)
    var(--mixin-OoLyhxIShITV_border-left-style)
    var(--mixin-OoLyhxIShITV_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-IvXrwldfNzsG_display);
  flex-direction: var(--mixin-IvXrwldfNzsG_flex-direction);
  align-items: var(--mixin-IvXrwldfNzsG_align-items);
  justify-content: var(--mixin-IvXrwldfNzsG_justify-content);
  list-style-position: var(--mixin-IvXrwldfNzsG_list-style-position);
  padding-left: var(--mixin-IvXrwldfNzsG_padding-left);
  position: var(--mixin-IvXrwldfNzsG_position);
  list-style-type: var(--mixin-IvXrwldfNzsG_list-style-type);
  column-gap: var(--mixin-IvXrwldfNzsG_column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-LxSJDtcEhAZS_display);
  flex-direction: var(--mixin-LxSJDtcEhAZS_flex-direction);
  align-items: var(--mixin-LxSJDtcEhAZS_align-items);
  justify-content: var(--mixin-LxSJDtcEhAZS_justify-content);
  list-style-position: var(--mixin-LxSJDtcEhAZS_list-style-position);
  padding-left: var(--mixin-LxSJDtcEhAZS_padding-left);
  position: var(--mixin-LxSJDtcEhAZS_position);
  list-style-type: var(--mixin-LxSJDtcEhAZS_list-style-type);
  column-gap: var(--mixin-LxSJDtcEhAZS_column-gap);
}
